{% extends 'base1.html'%}
{% block title%}About{% endblock title%}
{% block body%}
<center>
<h3> Hi there , my name is Hrithik Paul</h3>
<span style='font-size:100px;'>&#128515;</span>
<h3> welcome to feel-qutoes-teller , hope you will like it. </h3>
<span style='font-size:100px;'>&#128513;</span>
<h3>About meh</h3>
<p>I am from India , I would like to make different things in different times through coding, but this is not mah 1st web app and also not the last one .</p>
</center><div class="i1"><img src="{{url_for('static', filename='hrithik1.jpg')}}"  alt='hrithik' width="100" height="100" /></div>
<h3>Purposes to make this <h3>


<ul>
	<li>For best qutoes from best people </li>
	<li>Collecting good vibes </li>
	<li>Fresh mind words</li>
</ul>
<h2>Qualification:</h2>
<p><ol>I am an engineering students , studied in JIS University in CSE department .</ol></p>
<p><ol>Certified from Hackerrank , python .</ol></p>
<p><ol>Certified from GUVI , A.I .</ol></p>
<style>
.i1{
	margin-bottom:20px;
	margin-left:1200px;
}
</style>

{% endblock body%}