	{%extends 'base1.html' %}
	{% block body%}
	<h1 class="h00">This is Feel-Qutoes-teller:</h1> <p class='p01'> where you can write your thaughts,imagination through your qutoes and this qutoes will be saved <br> and even you will colaborate with others qutoes , so, don't be late come and write , whatever you want.<br><div class="ss">Stay safe , stay good! </p></div> 
	<style>
	.h00{
		background: rgb(131,58,180);
		background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	}
	.p01{
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}
	.ss{
		color:red;
	}
	</style>
	{% endblock body%}